*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color :#402E7A;
    text-align: center;
    margin:0px;
    padding: 0%;
    height:80px;
}
h1 ,h2 {
    color:rgb(255, 166, 0) ;
}
footer{
    background-color: #3DC2EC;
    height: 80px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    /* top: 1000px; */

    
}
/* about and contact */
footer div{
    position: absolute;
    top: 20px;
    width: 150px;
    left: 45%;
}
footer a{
    color: white;
}
.projectimage{
    border-radius: 50%;
    width: 250px;
    height: 250px;;
}
main{
    background-color: #4B70F5; 
    height: 100vh;

}
#all{
    padding-top: 30px;
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    /* justify-content:space-evenly; */
}
.project{
 width: 250px;
 text-align: center;
 flex-basis: 30%;
}

.title {
    font-size: 25px;
    color: white;
}
#all>div{
    /* margin: 0px 100px; */
    height: 280px;
    /* border: 1px solid black; */
}  
@media( max-width :800px ){ 
    .project {
            width: 250px;
            text-align: center;
            flex-basis: 47% !important; 
        }
}
@media( max-width :550px ){ 
    .project {
            width: 250px;
            text-align: center;
            flex-basis: 100% !important; 
        }
}
